{% load static %}
{% block content %}
<div class="vouchers">
    <div class="container">
        <div class="menu-buttons d-flex justify-content-between align-items-center">
            <div>
                <span>
                    <button class="btn btn-dark">1 hour</button>
                </span>
                <span>
                    <button class="btn btn-dark">2 hour(s)</button>
                </span>
                <span>
                    <button class="btn btn-dark">3 hour(s)</button>
                </span>
            </div>
            <div class="px-3">
                <span>
                    <button class="btn btn-danger close">cancel</button>
                </span>
            </div>
        </div>

        <h5 class="py-3">Vouchers</h5>

        <table class="table table-responsive">
            <tbody class="voucher-table">
                <tr>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3 add">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3 add">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3 add">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3">add</span>
                    </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>Lorem, ipsum.</span>
                        <span class="px-3">add</span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}