{% load crispy_forms_tags %}
{% block content %}
<div class="client-add-form" class="d-flex justify-content-center align-items-center">
    <div class="menu-buttons d-flex justify-content-between align-items-center">
        <div>
            <h5>Add Expense</h5>
        </div>
        <div class="px-3">
            <span>
                <button class="btn btn-danger close">cancel</button>
            </span>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-4 border p-5" >
        <form method="post" id="client_form" class="w-50">
            {% csrf_token %}
            {{form|crispy }}
            <button class="primaryAction btn btn-primary w-100" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}